<?xml version = "1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Rest Assured API Testing Suite">
    <parameter name="userId" value="3"></parameter>
    <test name="Test" thread-count="5">
        <classes>
            <class name="com.restAssuredTests.DataProviderDifferentClass">
                <methods>
                    <include name="delete_testCase_02"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>